.CardConceptCompo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 0 15rem;
}
.CardConceptCompo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
