.about__missions {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__missions__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  background-image: linear-gradient(
    to bottom right,
    rgb(239, 255, 247),
    rgb(188, 208, 154),
    #edfff7,
    rgb(210, 232, 230),
    #237957,
    rgb(190, 234, 212)
  );
}
.about__missions__leftContainer {
  color: var(--dark-Gray);
  border-radius: 10px;
}
.about__missions__rightContainer {
}
.about__missions__text {
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: justify;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .about__missions {
    padding: 0rem;
  }
  .about__missions__container {
    flex-direction: column;
    border-radius: none;
    padding: 0rem;
  }
  .about__missions__leftContainer {
    padding: 0 1rem;
  }
  .about__missions__rightContainer {
    padding-bottom: 1rem;
    width: 100%;
  }
  .about__missions__header {
    font-size: 1.9rem;
  }
  .about__missions__text {
    margin-bottom: 1rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .about__missions {
    padding: 3rem;
  }
  .about__missions__container {
    flex-direction: row;
    border-radius: 10rem 5rem 15rem 5rem;
    padding: 1rem;
  }
  .about__missions__leftContainer {
    width: 50%;
    padding: 3rem;
  }
  .about__missions__rightContainer {
    width: 50%;
    padding: 2rem 0;
  }
  .about__missions__header {
    font-size: 2rem;
  }
  .about__missions__text {
    margin-bottom: 2rem;
  }
}
