.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.textCarous {
  position: absolute;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.518);
  text-align: start;
  left: 0;
  bottom: 20px;
}
.textCarous__title {
  font-size: 2rem;
  font-family: aladin;
  /* text-shadow: 0 1px 1px white; */
  text-align: justify;
  margin-bottom: 1rem;
  color: var(--white);
}
.textCarous__text {
  /* text-shadow: 0 1px 1px white; */
  color: var(--white);
  text-align: justify;
  font-weight: 100;
}
.swiper-button-next,
.swiper-button-prev {
  color: green;
  text-shadow: 0px 1px 1px rgb(255, 255, 255);
  font-weight: 900;
}

@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .SwiperReact {
    padding: 0.5rem;
    margin-top: 1rem;
  }
  .swiper__title{
    font-size: 1.8rem;
    padding: 0.5rem;
  }
  .mainsubtitle{
    font-size: 1rem;
    padding: 0.5rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .SwiperReact {
    padding: 7rem;
  }
}
