.SwiperReact {
  padding: 3rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.textCarous {
  position: absolute;
  padding: 1rem;
  background-color: #eeeeeeb0;
  text-align: start;
  left: 0;
  bottom: 20px;
}
.textCarous__title {
  font-size: 2rem;
  text-shadow: 0 1px 1px white;
  text-align: justify;
  margin-bottom: 1rem;
}
.textCarous__text {
  text-shadow: 0 1px 1px white;
  text-align: justify;
}
.swiper-button-next,
.swiper-button-prev {
  color: green;
  text-shadow: 0px 1px 1px rgb(255, 255, 255);
  font-weight: 900;
}
