.Register {
  width: 100%;
  height: 91vh;
  background-image: linear-gradient(
    to bottom right,
    var(--Pine-Green),
    var(--Light-Jade)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.Register__wrapper {
  margin-top: 9vh;
  display: flex;
}
.RegisterForm__Container {
  background-color: var(--white);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.RegisterForm__Title {
  font-family: aladin;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--Pine-Green);
  margin-bottom: 2rem;
}
.RegisterForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.RegisterForm__input {
  width: 20rem;
}
.RegisterForm__button {
  font-size: larger;
  border: none;
  background-color: var(--Light-Jade) !important;
  color: var(--Pine-Green) !important;
  padding: 0.5rem;
  margin-top: 2rem !important;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800 !important;
}
.RegisterForm__button:hover {
  color: var(--Light-Jade) !important;
  background-color: var(--Pine-Green) !important;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .Register__wrapper {
    flex-direction: column;
  }
  .Register__fotoContainer {
    overflow: hidden;
    height: 10rem;
  }
  .Register__foto {
    /* max-height: 5rem; */
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .RegisterForm__Container {
    border-radius: 0 0 20px 20px;
  }
  .RegisterForm__Title {
    padding: 1rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .Register__wrapper {
    flex-direction: row;
  }
  .Register__foto {
    height: 100%;
    max-width: 30rem;
    border-radius: 90px 0 0 90px;
  }
  .RegisterForm__Container {
    border-radius: 0 40px 40px 0;
  }
  .RegisterForm__Title {
    padding: 2rem;
  }
}
