.MobileMenue {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
}
.MobileMenue__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  padding: 0rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white) !important;
  position: relative;
}
.MobileMenue__logo {
  font-family: Fascinate;
  color: var(--Pine-Green);
  font-size: 2rem;
  cursor: pointer;
}
.MobileMenue__showBtn,
.MobileMenue__hide {
  display: flex;
  justify-content: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--white);
  font-size: 2.5rem;
  cursor: pointer;
}
@keyframes moveIn {
  from {
    right: -20rem;
  }
  to {
    right: 0;
  }
}
.MobileMenue__modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.849);
  display: flex;
  flex-direction: column;
  animation: moveIn 1s;
  gap: 1.5rem;
  padding: 2rem;
}
.MobileMenue__menuItem {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--white);
  padding: 1rem;
  text-decoration: none;
}
.MobileMenue__menuItem.active {
  background-color: var(--Mint-Green);
  color: var(--Pine-Green);
}
.MobileMenue__hide {
  align-self: flex-end;
}
.MobileMenue__profileInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  gap: 1rem;
}
.MobileMenue__profileFoto {
  border-radius: 50%;
  width: 4rem;
}
.MobileMenue__profileName {
  font-size: 1.2rem;
  color: var(--white);
}
.MobileMenue__profileInfoWrapper:hover > .MobileMenue__profileName {
  color: var(--Mint-Green);
}
