.BlogCart {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin: 3rem 15rem;
}
.leftBlogCart {
  flex-direction: row-reverse;
}
.BlogCart__Img {
  border-radius: 10px;
  width: 70%;
  top: 0;
  left: 5rem;
}
.BlogCart__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 40%;
  border:none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: gray;
  padding: 3rem;
  gap: 2rem;
  z-index: 99;
   background-image: linear-gradient(to bottom right, #b7ded9, #eefaf4, #eefaf4);
  margin-top: -2rem;
  margin-left: -4rem;
}
.leftBlogCart > div {
  margin-left: 0;
  margin-right: -4rem;
}
.BlogCart__Title {
  font-family: aladin;
  font-size: x-large;
  font-weight: bold;
  color: var(--Pine-Green);
  text-decoration: underline;
}
.BlogCart__Text {
  color: var(--dark-Gray);
}
.BlogCart__Link {
  font-size: larger;
  color: var(--Pine-Green);
  font-weight: bold;
  font-family: aladin;
  text-decoration: underline;
  cursor: pointer;
  background-color: #ccebe7;
}
.BlogCart__Link:hover {
text-shadow: 1px 1px 2px rgba(23, 255, 2, 0.667);
  text-decoration: underline;

}
