.BlogCart {
  display: flex;
  justify-content: start;
  align-items: start;
}

.BlogCart__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: gray;
  padding: 3rem;
  gap: 2rem;
  z-index: 99;
  background-image: linear-gradient(to bottom right, #b7ded9, #eefaf4, #eefaf4);
}
.leftBlogCart > div {
  margin-left: 0;
  margin-right: -4rem;
}
.BlogCart__Title {
  font-family: aladin;
  font-size: x-large;
  font-weight: bold;
  color: var(--Pine-Green);
  text-decoration: underline;
}
.BlogCart__Text {
  color: var(--dark-Gray);
}
.BlogCart__Link {
  font-size: larger;
  color: var(--Pine-Green);
  font-weight: bold;
  font-family: aladin;
  text-decoration: underline;
  cursor: pointer;
  background-color: #ccebe7;
}
.BlogCart__Link:hover {
  text-shadow: 1px 1px 2px rgba(23, 255, 2, 0.667);
  text-decoration: underline;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .BlogCart {
    margin: 0rem 0rem;
    flex-direction: column;
  }
  .leftBlogCart {
    flex-direction: column;
  }
  .BlogCart__Img {
    border-radius: 0px;
    width: 100%;
    top: 0;
    left: 0;
  }
  .BlogCart__textContainer {
    width: 100%;
    margin-top: 0rem;
    margin-left: 0rem;
    border-radius: 0px;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .BlogCart {
    margin: 3rem 15rem;
    flex-direction: row;
  }
  .leftBlogCart {
    flex-direction: row-reverse;
  }
  .BlogCart__Img {
    border-radius: 10px;
    width: 70%;
    top: 0;
    left: 5rem;
  }
  .BlogCart__textContainer {
    width: 40%;
    border-radius: 10px;
    margin-top: -2rem;
    margin-left: -4rem;
  }
}
