.FooterItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Pine-Green);
  color: var(--white);
  width: 100%;
  border-top: 3px solid white;
  padding: 3rem;
}
.Footer__container {
  width: 100%;
}
.Footer__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  gap: 1rem;
}

.Footer__logoWrapper {
  font-family: Fascinate;
  font-size: 1.9rem;
  cursor: pointer;
}
.Footer__logoWrapper:hover {
  color: var(--Lemon-Lime);
  text-decoration: underline;
}
.Footer__colTitle {
  font-family: aladin;
  font-weight: 600;
  font-size: 2rem;
}
.Footer__colList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  gap: 0.7rem;
}
.Footer__colspan {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  font-weight: 600;
}
.Footer__colspan:hover {
  color: var(--Lemon-Lime);
  cursor: pointer;
  padding-left: 0.15rem;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
.Footer__infoIcon{
  font-size: 1.1rem;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialItems {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
.socialItems :hover {
  color: var(--Lemon-Lime);
  transition: all 0.3s ease-in-out;
}
