.FooterItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--Pine-Green);
  color: var(--white);
  width: 100%;

  border-top: 3px solid white;
}
.Footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Footer__left {
  width: 70%;
  display: flex;

  justify-content: space-around;
  align-items: start;
}
.footer__logo {
  font-family: Fascinate;
  color: var(--white);
  font-size: 2.2rem;
  cursor: pointer;
  margin-bottom: 3rem;
}
.Footer__colTitle {
  font-weight: 800;
}
.Footer__colspan {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
.Footer__colspan:hover {
  color: var(--Lemon-Lime);
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialItems {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .FooterItem {
    padding: 0.5rem;
  }
  .Footer__container {
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }
  .Footer__left {
    flex-direction: column;
    gap: 1rem;
  }
  .Footer__right {
    width: 100%;
  }
  .Footer__colTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .copyRight {
    text-align: center;
  }
  .socialContainer {
    gap: 0.5rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .FooterItem {
    padding: 2rem;
  }
  .Footer__container {
    flex-direction: row;
    padding: 0 5rem;
  }
  .Footer__left {
    flex-direction: row;
  }
  .Footer__right {
    width: 30%;
  }
  .Footer__colTitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .socialContainer {
    gap: 2rem;
  }
}
