.welcomeNews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcomeNews__container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;

  position: relative;
}
@keyframes animeLtr {
  0% {
    left: -200px;
  }
  100% {
    left: 0px;
  }
}
@keyframes animeRtl {
  0% {
    right: 0%;
  }
  100% {
    right: 30%;
  }
}
.welcomeNews__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.welcomeNews__title {
  color: var(--Pine-Green);
  font-family: aladin;
  position: relative;
  transition: all ease;
  animation-name: animeLtr;
  animation-duration: 2s;
  z-index: 1;
  text-shadow: var(--Light-Jade) 1px 1px 1px;
}
.welcomeNews__subtitle {
  color: var(--Light-Jade);
  background-color: var(--Pine-Green);
  font-family: aladin;
  position: relative;
  transition: all ease;
  animation-name: opacityAnime;
  animation-duration: 2s;
  z-index: 1;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .welcomeNews {
    height: 60vh;
  }
  .welcomeNews__container {
    margin: 0;
  }
  .welcomeNews__left {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
  }
  .welcomeNews__title {
    font-size: 6rem;
  }
  .welcomeNews__subtitle {
    font-size: 2rem;
    padding: 1rem 0.3rem;
  }
  .welcomeNews__right {
    display: none;
    position: static;
    right: 5%;
    top: 0;
    width: 80%;
  }
  .welcomeNews__image {
    width: 50rem;
    right: 0%;
    top: 0%;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .welcomeNews {
    height: 90vh;
    padding: 0 9rem;
  }
  .welcomeNews__container {
    margin: 0 5rem;
  }
  .welcomeNews__left {
    width: 80%;
    padding: 4rem;
  }
  .welcomeNews__title {
    font-size: 6rem;
  }
  .welcomeNews__subtitle {
    font-size: 2.5rem;
    padding: 1rem;
  }
  .welcomeNews__right {
    position: absolute;
    right: 30%;
    top: -10%;
    width: 40%;
  }
  .welcomeNews__image {
    width: 50rem;
    right: 30%;
    top: -50%;
  }
}
