.CardConceptCompo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem auto;
  background-color: var(--white);

}
.CardConceptCompo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .CardConceptCompo {
      padding: 3rem 3rem;
  }
  .CardConceptCompo__container {
    flex-direction: column;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .CardConceptCompo {
      padding: 3rem 15rem;
  }
  .CardConceptCompo__container {
    flex-direction: row;
  }
}
