:root {
  --Forest-Green: #228b22;
  --Pine-Green: #01796f;
  --Mint-Green: #98ff98;
  --Lemon-Lime: #b2ff66;
  --Soft-Seafoam: #a3d9d1;
  --Sky-Blue: #87cefa;
  --Light-Jade: #b3e2d9;
  --Off-White: #e6e6fa;
  --white: #f9f9f9;
  --light-Gray: #eaeaea;
  --dark-Gray: #3c3c3c;
}
.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 9vh;
  background-image: linear-gradient(
    to bottom right,
    #025b53,
    #0e8a7f,
    #5abeac,
    var(--Light-Jade)
  );
}
.profile__sidebar {
  width: 15%;
}
.profile__sidebarLogo {
  font-family: Fascinate;
  color: var(--white);
  font-size: 2.2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
}
.profile__sidebarWrapper {
  display: flex;
  padding: 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding-bottom: 2rem;
  /* background-color: var(--Pine-Green); */
}
.profile__sidebarItem {
  background-color: var(--Pine-Green);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-size: 1.3rem;
  padding: 1rem;
  padding-left: 2rem;
  color: var(--white);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  box-shadow: 0 0 10px -5px rgb(0, 0, 0);
  transition: all ease 400ms;
  border-left: 7px solid var(--light-Gray);
}
.profile__sidebarItem.active {
  background-color: var(--Mint-Green);
  border-left: 5px solid var(--Pine-Green);
  color: var(--Pine-Green);
  border-left: 7px solid rgb(255, 213, 0);
}
.profile__sidebarItem:hover {
  background-color: var(--white);
  color: var(--Pine-Green);
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.7);
}
.profile__mainbar__wrapper {
  width: 85%;
}

.profile__mainbar {
  overflow: scroll;
  background-color: var(--white);
  width: 98%;
  height: 80vh;
  margin: 2% 1%;
  padding: 0;
  border-radius: 3rem 3rem 0 0;
}
.profile__mainbar__titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}
.mainbar__titlebox {
  padding: 1rem;
}
.mainbar__title {
  font-size: 2rem;
  color: var(--white);
  text-shadow: 0 0 5px var(--Pine-Green);
}
.mainbar__subtitle {
  color: var(--Pine-Green);
  font-size: large;
}
.mainbar__datebox {
  background-color: var(--Light-Jade);
  font-size: large;
  padding: 1.2rem;
  border-radius: 10px;
  color: var(--white);
  text-shadow: 0 0 5px var(--Pine-Green);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mainbar__datebox:hover {
  background-color: var(--Pine-Green);
  color: var(--white);
  cursor: pointer;
}
.mainbar__datebox:hover > .mainbar__datebox__icon {
  color: var(--white);
}
.mainbar__datebox__icon {
  font-size: 1.5rem;
  color: var(--Pine-Green);
}

.mainbar__titlebox__title {
  padding: 2rem;
}

.profile__mainbar__body {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  color: var(--dark-Gray);
}

