.TopSearchFilter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.propertyCardWrapper {
  width: 100%;
  margin: 0;
  padding: 0 2rem;
  display: grid;
  column-gap: 0;
  row-gap: 0;
  grid-template-columns: 1fr 1fr;
}
