.SearchProps {
  background-image: linear-gradient(
    to bottom right,
    var(--Pine-Green),
    var(--Light-Jade)
  );
  padding-top: 9vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filters__wrapper {
  background-color: var(--white);
  width: 100%;
}
.propertyCardWrapper {
  background-color: var(--white);
  width: 100%;
  margin: 0;
  padding: 2rem;
}
