.Home {
  background-color: var(--white);
}
.TopMain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/backgrounds/2.png);
  width: 100%;
  background-size: cover;
}
.TopMain__Wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TopMain__title {
  color: var(--Pine-Green);
  font-family: aladin;
  text-align: center;
  text-shadow: var(--Light-Jade) 1px 1px 1px;
  position: relative;
  transition: all ease;
  animation-name: opacityAnime;
  animation-duration: 2s;
}


.BlogCart__container {
  /* background-image: linear-gradient(to bottom right, #01796f, #eefaf4, #01796fa8,#eefaf4,#01796f); */
  background-image: linear-gradient(
    to bottom right,
    rgb(103, 103, 103),
    #d2eadc,
    rgba(182, 197, 194, 0.8),
    #d2eadc,
    rgba(113, 113, 113, 0.8)
  );
  display: flex;
  flex-direction: column;
  width: 100%;
}
@keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .TopMain {
    height: 60vh;
  }
  .TopMain__Wrapper {
    gap: 2rem;
    padding: 1rem 0.5rem;
  }
  .TopMain__title {
    font-size: 2.8rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .TopMain {
    height: 90vh;
  }
  .TopMain__Wrapper {
    gap: 1rem;
    padding: 4rem;
  }
  .TopMain__title {
    font-size: 4rem;
  }
}
