.capabilities {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.capabilities__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-image: url(./images/backgrounds/top1.png);
  background-attachment: fixed;
  position: static;
  background-size: cover;
  gap: 6rem;
}
.capabilities__title {
  font-family: aladin;
  font-size: 4rem;
  color: var(--Lemon-Lime);
}
.capabilities__itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: rgba(0, 0, 0, 0.662);
  padding: 4rem;
}
.capabilities__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
.capabilities__item__icon {
  font-size: 4rem;

  color: var(--white);
}
.capabilities__item__count {
  color: var(--Lemon-Lime);
  font-size: 1.3rem;
}
.capabilities__item__title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
}
