.capabilities {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.capabilities__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url(/images/backgrounds/top11.png);
  background-attachment: fixed;
  position: static;
  background-size: cover;
  gap: 6rem;
}
.capabilities__title {
  font-family: aladin;
  font-size: 4rem;
  color: var(--Lemon-Lime);
}
.capabilities__itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.662);
}
.capability__itemRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.capabilities__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.capabilities__item__icon {
  font-size: 4rem;

  color: var(--white);
}
.capabilities__item__count {
  color: var(--Lemon-Lime);
  font-family: aladin;
  font-size: 2rem;
  font-weight: 600;
}
.capabilities__item__title {
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--white);
}

@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .capabilities__itemWrapper {
    padding: 2rem;
    gap: 3rem;
  }
  .capability__itemRow {
    flex-direction: column;
    gap: 3rem;
  }
  .capabilities__item {
    gap: 0.5rem;
  }
}

/* Desktop Size */
@media only screen and (min-width: 900px) {
  .capabilities__itemWrapper {
    padding: 4rem;
    gap: 7rem;
  }
  .capability__itemRow {
    flex-direction: row;
    gap: 7rem;
  }
  .capabilities__item {
    gap: 1.3rem;
  }
}
