.UserProperties__item {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom right, #b7ded9, #eefaf4, #eefaf4);
  border: 1px solid var(--Pine-Green);
  margin: 0.2rem;
  border-radius: 10px;
}
.UserProperties__imgContainer {
  width: 30%;
}
.UserProperties__img {
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.UserProperties__noimg {
  padding: 4rem;
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.UserProperties__bodyContainer {
  width: 70%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.UserProperties__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--Pine-Green);
}

.UserProperties__price {
  font-size: larger;
  font-weight: bolder;
}
.UserProperties__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.UserProperties__detailsTop,
.UserProperties__detailsBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.UserProperties__detailItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.UserProperties__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}
.UserProperties__footerLeft {
  display: flex;
  gap: 1rem;
}
.UserProperties__footerRight {
  display: flex;
  margin-right: 1rem;
  gap: 2rem;
}
.UserProperties__footerIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.UserProperties__footerIcon {
  cursor: pointer;
  font-size: 1.5rem;
}
.noteIcon {
  color: var(--Pine-Green);
  cursor: pointer;
}
.favIcon {
  color: rgb(191, 50, 15);
  cursor: pointer;
}
