.UserProperties__item {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom right, #b7ded9, #eefaf4, #eefaf4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 60px 10px 10px 60px;
  color: var(--dark-Gray);
}
.UserProperties__imgContainer {
  cursor: pointer;
}
.UserProperties__img {
  width: 100%;
  object-fit: cover;
}
.UserProperties__noimg {
  padding: 4rem;
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.UserProperties__bodyContainer {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
.UserProperties__title {
  font-family: aladin;
  font-size: 1.8rem;
  color: var(--Pine-Green);
}
.UserProperties__bodyInfoContainer {
  cursor: pointer;
  font-size: 0.9rem;
}

.UserProperties__price {
  font-size: larger;
  font-weight: bolder;
  color: rgb(56, 56, 56);
}
.UserProperties__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0rem;
  margin: 0.5rem 0;
}
.UserProperties__detailsTop,
.UserProperties__detailsBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.UserProperties__detailItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.UserProperties__desc {
  margin-top: 0.5rem;
}
.UserProperties__footer {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.UserProperties__footerLeft {
  display: flex;
  gap: 1rem;
}
.UserProperties__footerRight {
  display: flex;
  margin-right: 1rem;
  gap: 1rem;
}
.UserProperties__footerIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: 1px solid rgb(186, 186, 186);
  background-color: #b6dccf;
  padding: 5px;
}
.UserProperties__footerIcon {
  cursor: pointer;
  font-size: 1rem;
  color: black;
}
.UserProperties__footerIconWrapper:hover {
  scale: 1.05;
  transition: all 0.2s ease-in-out;
    background-color: #70ceaf;
}
.noteIcon {
  color: var(--dark-Gray);
  cursor: pointer;
  font-size: 1.3rem;
}
.noteIcon:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
  color: var(--medium-Blue);
}
.favIcon {
  color: rgb(191, 50, 15);
  cursor: pointer;
  font-size: 1.3rem;
}
.favIcon:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
  color: rgb(235, 39, 39);
}
.deleteIcon {
  color: rgb(191, 50, 15);
  cursor: pointer;
  font-size: 1.2rem;
}
.editIcon {
  color: var(--Pine-Green);
  cursor: pointer;
  font-size: 1.2rem;
}
.deleteIcon:hover {
  color: rgb(255, 0, 0);
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}
.editIcon:hover {
  color: #12bc83;
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .UserProperties__item {
    flex-direction: column;
    border-radius: 0 60px 0 60px;
  }
  .UserProperties__imgContainer {
    width: 100%;
  }
  .UserProperties__img {
    border-radius: 0 60px 0 60px;
  }
  .UserProperties__noimg {
  }
  .UserProperties__bodyContainer {
    width: 100%;
    padding: 0 1rem;
  }
  .UserProperties__title {
  }
  .UserProperties__bodyInfoContainer {
  }
  .UserProperties__footer {
    padding: 1rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .UserProperties__item {
    flex-direction: row;
  }
  .UserProperties__imgContainer {
    width: 30%;
  }
  .UserProperties__img {
    border-radius: 60px 0 0 60px;
  }
  .UserProperties__noimg {
  }
  .UserProperties__bodyContainer {
    height: 12rem;
    width: 70%;
  }
  .UserProperties__title {
  }
  .UserProperties__bodyInfoContainer {
  }
  .UserProperties__footer {
    padding: 0 1rem;
  }
}
