.Property {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--dark-blue),
    var(--light-blue)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.Property__wrapper {
  width: 95%;
  margin: 0;
  padding: 0;
}
.PropertyForm__Container {
  background-color: var(--white);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.PropertyForm__Title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}
.PropertyForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.PropertyForm__right {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
}
.PropertyForm__left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.PropertyForm__input {
  width: 20rem;
}
.PropertyForm__button {
  font-size: larger;
  border: none;
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 0.5rem;
  margin-top: 2rem !important;
  cursor: pointer;
  border-radius: 5px;
}
.PropertyForm__button:hover {
  background-color: var(--light-blue);
}
@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .Property__wrapper {
    flex-direction: column;
  }

  .PropertyForm__Container {
    border-radius: 0 0 20px 20px;
  }
  .PropertyForm__Title {
    padding: 1rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .Property__wrapper {
    flex-direction: row;
  }
  .Property__foto {
    height: 100%;
    max-width: 30rem;
    border-radius: 90px 0 0 90px;
  }
  .PropertyForm__Container {
    border-radius: 0 40px 40px 0;
  }
  .PropertyForm__Title {
    padding: 2rem;
  }
}
