.NewProperty {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(
    to bottom right,
    var(--Pine-Green),
    var(--Light-Jade)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.Property__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.PropertyForm__imageWrapper {
  height: 100%;
  width: 30%;
  overflow: hidden;
}
.PropertyForm__image {
  height: 100%;
  width: 100%;
  border-radius: 200px 0 0 200px;
}
.PropertyForm__Container {
  height: 100%;
  width: 70%;
  background-color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.PropertyForm__Title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--Pine-Green);
}
.PropertyForm {
  padding: 2rem 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  gap: 50px 50px;
}
.PropertyForm__input {
  width: 20rem;
}
.descInput {
  grid-row: 2 / span 2 !important;
}
.PropertyForm__button__wraper {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PropertyForm__button {
  width: 30%;
  font-size: larger;
  font-weight: 800 !important;
  border: none;
  background-color: var(--Light-Jade) !important;
  color: var(--Pine-Green) !important;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.PropertyForm__button:hover {
  color: var(--Light-Jade) !important;
  background-color: var(--Pine-Green) !important;
}
@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .Property__wrapper {
    flex-direction: column;
  }

  .PropertyForm__Container {
    border-radius: 0 0 20px 20px;
  }
  .PropertyForm__Title {
    padding: 1rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .Property__wrapper {
    flex-direction: row;
  }
  .Property__foto {
    height: 100%;
    max-width: 30rem;
    border-radius: 90px 0 0 90px;
  }
  .PropertyForm__Container {
    border-radius: 0 90px 90px 0;
  }
  .PropertyForm__Title {
    padding: 2rem;
  }
}
