.NewsBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 15rem;
  padding: 2rem 0;
  align-items: start;
}
.NewsBar__title {
  /* font-size: x-large;
  font-weight: 800;
  color: black; */
}
.NewsBar__text {
  /* font-size: large;
  color: gray;
  margin: 0; */
}
.NewsBar__catSelect {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: large;
  margin: 1rem 0 2rem 0;
  border-bottom: 1px solid gray;
}
.NewsBar__catItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: gray;
  border-radius: 5px 5px 0 0;
}
.NewsBar__catItem.activeItem {
  border-bottom: 2px solid var(--Pine-Green);
  color: var(--Lemon-Lime);
  background-color: var(--Pine-Green);
}
.NewsCart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
