.NewsBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.NewsBar__catSelect {
  width: 100%;
  display: flex;
  align-items: center;

  border-bottom: 1px solid gray;
}
.NewsBar__catItem {
  cursor: pointer;
  color: gray;
  border-radius: 5px 5px 0 0;
}
.NewsBar__catItem.activeItem {
  border-bottom: 2px solid var(--Pine-Green);
  color: var(--Lemon-Lime);
  background-color: var(--Pine-Green);
}
.NewsCart__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Size */
@media only screen and (max-width: 900px) {
  .NewsBar {
    margin: 0rem 0rem;
    padding: 0;
    height: auto;
  }
  .NewsBar__title {
    font-size: 1.8rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  .NewsBar__text {
    text-align: center;
  }
  .NewsCart__container {
    width: 100%;
    flex-direction: column;
    gap: 0rem;
  }
  .NewsBar__catSelect {
    text-align: center;
    font-size: medium;
    font-weight: normal;
    margin: 0;
    gap: 0rem;
  }
  .NewsBar__catItem {
    padding: 0.5rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .NewsBar {
    margin: 0rem 5rem;
    padding: 2rem 0;
    height: 65vh;
  }
  .NewsCart__container {
    flex-direction: row;
    gap: 2rem;
  }
  .NewsBar__catSelect {
    font-size: large;
    font-weight: bold;
    margin: 1rem 0 2rem 0;
    gap: 1rem;
  }
  .NewsBar__catItem {
    padding: 0.5rem 1rem;
  }
}
