.modal__Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding-top: 3rem;
  background-color: var(--white);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.463);
}
.editModalBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.editModal__mainWraper {
  padding: 2rem 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 2rem 0rem;
}
.editModal__item__input{
  max-width: 10rem;
}
.descInput {
  grid-row: 4 / span 2 !important;
}
.modal__Title {
  font-family: Aladin !important;
  font-size: 2.5rem !important;
  font-weight: 700 !important;
}
.modal__successicon {
  font-size: 4rem;
  color: rgb(101, 166, 148);
}
.modal__failicon {
  font-size: 4rem;
  color: rgb(228, 69, 69);
}
.modal__text {
  font-family: Aladin !important;
  font-size: 1.2rem !important;
  font-weight: 500;
  margin: 0 !important;
  margin-bottom: 2rem !important;
}
.editModal__formContainer {
  width: 100%;
}
.editModal__itemwraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-bottom: 1rem;
}
.editModal__itemBtn {
  padding: 0.7rem 2rem;
  border: none;
  background-color: rgb(40, 40, 203);
  color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 2rem;
}
.modalFooter {
  width: 100%;
  background-color: rgb(101, 166, 148);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalFooter.fail {
  background-color: rgb(199, 63, 63);
}
.modalFooter__btn {
  /* color: var(--white) !important; */
  color: green !important;
  font-weight: bold !important;
  margin: 2rem !important;
  background-color: rgb(209, 249, 150) !important;
}
.modalFooter__btn.fail {
  color: rgb(199, 63, 63) !important;
  background-color: rgb(255, 191, 191) !important;
}
