.messages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages__middle {
  margin-top: 9vh;
  width: 35rem;
  height: 100vh;
}
/* Room Item Card Start*/
.roomItem {
  width: 100%;
  background-color: rgb(236, 236, 236);
  border: 1px solid var(--dark-Gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-Gray);
  padding: 0.5rem;
  cursor: pointer;
}
.activeRoom {
  background-color: rgb(179, 218, 150);
}
.roomItem:hover {
  background-color: rgb(217, 217, 217);
}
.activeRoom:hover {
  background-color: rgb(179, 218, 150);
}

.roomItem__ownerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}
.roomItem__dataWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}
.roomItem__ownerIcon {
  font-size: 2rem;
  color: rgb(100, 100, 100);
}
.roomItem__ownerName {
  font-size: 1rem;
}
.roomItem__imgWrapper {
  width: 30%;
}
.roomItem__img {
  border-radius: 10px;
  width: 100%;
}
.roomItem__textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 70%;
}
.roomItem__text {
  font-size: 1.2rem;
  font-weight: 700;
}
/* Room Item Card End*/

/* chat Box  Start*/
.form-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.msginput {
  width: 70%;
  max-width: 40rem;
}

.sendbutton {
  width: 20%;
  max-width: 20rem;
}
.sendbutton:hover {
  cursor: pointer;
  background-color: var(--Lemon-Lime);
}

.formInput,
.sendbutton {
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
}
.messages__left {
  width: 100%;
  height: 81vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.chat-display {
  padding: 0 5rem;
  padding-bottom: 6rem;
  list-style-type: none;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  overflow: auto;
  flex-grow: 1;
}

.post {
  background-color: #eee;
  border-radius: 10px;
  padding: 0 0 0.25rem;
  margin: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 30rem;
}

.post--left {
  width: 60%;
  align-self: flex-start;
}

.post--right {
  width: 60%;
  align-self: flex-end;
}

.post__header {
  color: var(--Pine-Green);
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.post__header--user {
  background-color: rgb(132, 223, 190);
}

.post__header--reply {
  background-color: rgb(179, 218, 150);
}

.post__header--name {
  font-weight: bold;
}

.post__header--time {
  font-size: 0.8rem;
}

.post__text {
  margin-top: 5px;
  color: #333;
  padding: 0.25rem 0.5rem;
}

.user-list,
.room-list,
.activity {
  width: 100%;
  min-height: 2.65rem;
  margin: 0 auto;
  max-width: 600px;
  padding: 0.75rem 0.25rem;
}

.activity {
  font-style: italic;
}
/* chat Box  End*/
