.messages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages__container {
  margin-top: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages__left {
  background-color: rgb(227, 171, 88);
  width: 40%;
}
.messages__right {
  width: 60%;
  height: 60vh;
  background-color: rgb(224, 224, 12);
}

.messages__propItem {
  border: 3px solid gray;
  height: 30vh;
}
