.mainbar__leftbody__image {
  position: relative;
}
.editImg__input__Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userAvatar-label-icon {
  font-size: 2rem;
  color: var(--white);
  background-color: var(--Pine-Green);
  border-radius: 5px;
  padding: 6px;
}
.userAvatar-label-icon:hover {
  cursor: pointer;
  background-color: var(--Lemon-Lime);
  color: var(--Pine-Green);
}
.userAvatar-input {
  display: none;
}
.leftbody__text__bold {
  font-weight: bold;
  font-family: aladin;
  font-size: 1.2rem;
}
.mainbar__leftbody {
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.463);
  border-radius: 10px;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #b7ded9, #eefaf4, #eefaf4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 40%;
}
.mainbar__leftbody__img {
  width: 10rem;
  border-radius: 10px;
}
.mainbar__leftbody__text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.mainbar__rightbody {
  width: 60%;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.463);
  border-radius: 10px;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #b7ded9, #eefaf4, #eefaf4);
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.rightbody__img {
  width: 12rem;
  border-radius: 10px;
}
.mainbar__rightbody__text {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  gap: 2rem;
}
.mainbar__rightbody__title {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--Pine-Green);
}
