.SettingProfile {
  padding: 3rem;
}
.SettingProfile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SettingProfile__title {
    font-size: 3rem;
    font-family: aladin;
}
.SettingProfile__dataWrapper {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.SettingProfile__data {
    color: green;
    font-size: 1.5rem;
}
