.cardConcept__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid gray;
  border-radius: 10px;
}
.cardConcept__container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;

}
.cardConcept__iconWraper {
  margin-bottom: 1rem;
}
.cardConcept__icon {
  width: 5rem;
}
.cardConcept__TitleWrapper {
  display: flex;
  flex-direction: column;
}
.cardConcept__Title {
  font-family: aladin;
  font-size: 1.2rem;
  font-weight: 600;
}
.cardConcept__text {
  color: gray;
  line-height: 1.5rem;
}

@media only screen and (max-width: 900px) {
  /* Mobile Size */
  .cardConcept__container {
    flex-direction: row;
    padding: 0.5rem 1rem;
    gap: 0.6rem;
  }
  .cardConcept__TitleWrapper {
    padding: 0.2rem;
    text-align: start;
    gap: 0.6rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .cardConcept__container {
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1.2rem;
  }
  .cardConcept__TitleWrapper {
    text-align: center;
    padding: 1rem;
    gap: 1rem;
  }
}
