.NewsMain__main {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: 5rem;
  gap: 2rem;
}
.main__body {
  width: 70%;
}
.main__body__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.main__body__col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.main__body__col__title {
  font-size: 2rem;
  color: rgb(54, 54, 54);
  padding: 1rem;
}
.main__body__col__text {
  text-align: justify;
  padding: 1rem;
}

/* leftSider */

.main__leftSider {
  width: 30%;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.main__leftSider__row {
  gap: 0.2rem;
  display: flex;
}
.leftSider__rowImg {
  width: 30%;
}
.leftSider__dataWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.leftSider__title {
  font-weight: 800;
  color: black;
}
.leftSider__text {
}

.newsBar__container {
  width: 100%;
  background-color: var(--white);
}
