.TopMain__container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.TopMain__contractCatBtn,
.TopMain__settypeCat {
  background-color: var(--white);
  color: gray;
  border: 2px solid var(--Pine-Green);
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
select:focus > option:checked {
  background: var(--Pine-Green) !important;
  color: var(--white) !important;
}
.TopMain__contractCatBtn.active {
  background-color: var(--Light-Jade);
  border-color: var(--Pine-Green);
  color: var(--Pine-Green);
}
.Topmain__searchInput__container,
.Topmain__searchBtn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopMain__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7rem;
}
#citySelector {
  width: 15rem;
}
.Topmain__searchBtn {
  padding: 0.7rem 1.5rem;
  background-color: rgb(79, 192, 116);
  font-size: larger;
  font-weight: bolder;
  color: aliceblue;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.7rem;
  transition: all ease 0.5s;
}
.Topmain__searchBtn:hover {
  background-color: var(--Pine-Green);
  cursor: pointer;
}
.Topmain__searchIcon {
  text-align: center;
  padding: 0;
  margin: 0;
}
