.NotFoundItem {
    width: 100%;
    height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NotFoundItem__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NotFoundItem__icon {
  font-size: 3rem;
  color: red;
}
.NotFoundItem__header {
  font-size: 3rem;
}
.NotFoundItem__text {
  font-size: 1.5rem;
}
