.UserProperties {
  width: 100%;
}
/* Mobile Size */
@media only screen and (max-width: 900px) {
  .UserProperties {
    padding: 0.5rem;
  }
}
/* Desktop Size */
@media only screen and (min-width: 900px) {
  .UserProperties {
    padding: 1rem;
  }
}
